* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Libre Baskerville', San-serif;
    font-weight: 400;
    color: white;
}



.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #14304D 50%, #3674BE 70%);
}

button{
    font-family: 'Fugaz One', San-serif;
    color: white;
    font-size: 24px;
    border-radius: 40px;
    outline: none;
    border: none;
}

.nav {
    display: flex;
    flex-direction: row;
}

.login-section {
    margin: 37px 0 0 80%;
}

login-button {
    width: 200px;
    height: 59px;
}

.web-intro{
 text-align: center;
 color: white;
 font-size: 128px;
 font-family: Libre Baskerville;
 font-weight: 700;
 margin-top: 90px;
 line-height: 140px;
 word-wrap: break-word;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

.phrase {
    text-align: center;
}

.catch-phrase {
    margin-top: 30px;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
}

.signup-button{
    width: 300px;
    height: 59px;
    margin-top: 50px;
    background: #BBE2FF;
}


