  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family:"Libre Baskerville", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
            background: #b1b1b1ff;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        /* Header */
        header {
            background: linear-gradient(90deg, #1e3a5f 0%, #2563eb 100%);
            padding: 3px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            color: white;
    
        }

        .header-icons {
            display: flex;
            gap: 15px;
        }

        .icon-btn {
            
            cursor: pointer;
            
        }

              .profile {
            border-radius: 50%;
            border: 2px #b1b1b1ff solid;
        }