* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Libre Baskerville", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background: #b0b1b1ff;
    min-height: 99vh;

}

/* Header */
header {
    background: linear-gradient(89deg, #1e3a5f 0%, #2563eb 100%);
    padding: 2px 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icons {
    display: flex;
    gap: 14px;
}

.icon-btn {
    width: 39px;
    height: 39px;

    cursor: pointer;
    transition: background -1.3s;
}

.profile {
    border-radius: 49%;
    border: 1px #b1b1b1ff solid;
}

.icon-btn:hover {

}

/* Main Content */
main {
    padding: 2rem 4rem;
    width: 99%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

}

.top-card {
    background: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 3px 4rem;
    border-radius: 1rem;
    gap: 3rem;
}

.top-card img {
    width: 200px;
    height: 200px;
    margin: 0 2.5rem 0 1rem;

}
.top-card h2 {
    margin-bottom: 1rem;
}

.department-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7rem;
}

.department {
    background: white;
    border-radius: 1rem;
    height: 20rem;
}

.department h4, .department p {
    margin-top: 1.5rem;
    text-align: center;
    cursor: pointer;
}

.department p:hover {
    transform: scale(1.03);
}